
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    text-align: center;
}

/*TITEL*/
.title{
    border: solid black 1px;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end:span 3;


}

.title span:first-child{
    font-size: 0.5em;
}
.title span:last-child{
    font-size: 3em;
}

/*INFORMATIE*/

.info span{
    border: solid black 1px;
    text-align: center;
    width: 20%;
}
.info{
    grid-row-start: 2;
    grid-column-end:span 3;

}
/*SUB TITEL*/
.subtitle{
    border: solid black 1px;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    grid-row-start: 3;
    grid-column-end:span 3;


}

/*QR CODE*/

.QR{
    grid-column-start: 4;
    grid-column-end:span 5;
    border: solid black 1px;
    text-align: center;

}

@media (min-width: 600px){}