/*NAVIGATIE*/

nav{
    display: flex;
    flex-wrap: wrap;
}
nav .logo{
    justify-content: space-between;
    order:1;
    
}

nav ul li{
    flex-direction: row;
    justify-content: flex-start;
}


/*PHOTOS*/

#photos{
    display:flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    

}

#photos div{
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
 

}